/* ... (body styles remain the same) ... */

.flashing-arrow-container span {
    font-size: 10rem;
    color: #FFD700;
    /* Remove the 'animation' line from here */
}

/* New class that JavaScript will toggle */
.is-flashing {
    opacity: 0;
}
